target
.*.swp
.*.swo
.classpath
.externalToolBuilders/org.devzuz.q.maven.jdt.core.mavenIncrementalBuilder.launch
.project
.settings/org.eclipse.jdt.core.prefs
.DS_Store
*.iml
*.ipr
*.iws
lib_managed
project/boot
